SECRET_KEY=django-insecure-production-ready-token-change-me
DEBUG=True
ALLOWED_HOSTS=*,localhost,127.0.0.1
{% if "sqlite" not in db -%}
DB_NAME={{ project_name }}_db
DB_USER=imhotep_user
DB_PASSWORD=imhotep_secure_password
DB_HOST=db
DB_PORT={% if "postgres" in db %}5432{% else %}3306{% endif %}
{%- endif %}
